API_URL=http://localhost:4000
SYNC_EMAIL=munim@ramgarh-bhatta.example
SYNC_PASSWORD=change-this-password
# Only needed if SYNC_EMAIL's account belongs to more than one kiln
# SYNC_KILN_ID=
SYNC_INTERVAL_MS=4000
LOCAL_DB_PATH=./local-data/bhatta.sqlite
DEMO_MODE=true
